.form-input {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    input, label {all:unset}

    label {
        margin-left: 0.1em;
    }

    input {
        @extend %input-mold;
        background-color: rgb(250, 250, 250);
        border: 1px rgb(199, 199, 199) solid;
        color: rgb(71, 71, 71);
        text-transform: uppercase;
        transition: box-shadow 0.3s;
        
        &:focus {
            box-shadow: 0 0 0 0.15em #80bdff;
        }
    }

}

.btn-modal {
    all: unset;
    @extend %input-mold;
    $time-to-animation: 0.3s;
    cursor: pointer;
    font-weight: 400;
    margin-left: 0.6em;
    text-align: center;
    transition: background-color $time-to-animation, color $time-to-animation, border $time-to-animation;
    width: 4em;
}

.btn-color-primary {
    background-color: #dc3545;
    color: white;
    border: 1px #dc3545 solid;

    &:hover {
        background-color: #cc2c3c;
        border: 1px #cc2c3c solid;
        color: white;
    }
    &:active {
        background-color: #ac1f2d;
        border: 1px #ac1f2d solid;
        color: white;
    }
}

.btn-color-secondary {
    background-color: #dbdbdb;
    color: rgb(27, 27, 27);
    border: 1px #dbdbdb solid;

    &:hover {
        background-color: #e9e9e9;
        border: 1px #e9e9e9 solid;
        color: rgb(26, 26, 26);
    }
    &:active {
        background-color: #bebebe;
        border: 1px #bebebe solid;
        color: rgb(27, 27, 27);
    }
}

%input-mold {
    border-radius: 0.4em;
    font-size: 0.96rem;
    padding: 0.2em 0.4em 0.1em;
}