#modal-container {
    background-color: white;
    border-radius: 0.6rem;
    left: 50%;
    padding: 1.6em;
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    width: 20rem;
    @media (max-width: 26rem) {
        width: calc(100vw - 3.2em);
    }


    p, button { all:unset }

    #modal-top {
        display: flex;
        justify-content: space-between;

        button {
            margin: auto 0;
            $time-to-animation: 0.3s;
            border-radius: 50%;
            color: rgb(56, 56, 56);
            cursor: pointer;
            display: flex;
            font-size: 1.3rem;
            height: 1em;
            transition: background-color $time-to-animation;
            width: 1em;

            &:hover { background-color: rgba($color: #000000, $alpha: 0.18) }
            &:active { background-color: rgba($color: #000000, $alpha: 0.1) }

            i {
                margin: auto;
                margin-top: 0.06em;
            }
        }

        h3 {
            margin: auto 0;
            font-weight: 400;
            color: #303030;
        }

    }

    #modal-body {
        display: flex;
        justify-content: flex-start;
        margin: 0.2rem 0 0.8rem;
        flex-direction: column;
    }

    #modal-bottom {
        display: flex;
        justify-content: flex-end;

        p {
            margin: auto 0;

            &.advert-error { color: #ff0033 }
            &.advert-loading { color: rgb(80, 80, 80) }
            &.advert-ready { color: rgb(21, 172, 21) }

            .spinner {
                font-size: 1.2em;
                animation: rotation-360 2s infinite linear;
                @keyframes rotation-360 {
                    0% {transform: rotate(0deg);}
                    100% {transform: rotate(360deg);}
                }
            }
        }

        button {
            margin-left: 0.6rem;
            $time-to-animation: 0.3s;
            background-color: #195de6;
            border-radius: 0.44rem;
            border: 1px #195de6 solid;
            color: white;
            cursor: pointer;
            font-size: 0.9rem;
            font-weight: 400;
            padding: 0.2em;
            text-align: center;
            transition: background-color $time-to-animation, color $time-to-animation, border $time-to-animation;
            width: 4.5em;

            &:hover {
                background-color: #2e6deb;
                border: 1px #2e6deb solid;
                color: white;
            }
            &:active {
                background-color: #134fc6;
                border: 1px #134fc6 solid;
                color: white;
            }
        }
    }
}