@use "../colors";

.card-container {
    &.card-new-product {
        display: flex;
        color: colors.$card-text-secondary;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;


        .fa-plus {
            margin: auto;
            font-size: 5rem;
        }

        &:hover {
            background-color: colors.$card-background-btn-hover;
            color: colors.$card-color-btn-hover;
        }
        &:active {
            background-color: colors.$card-background-btn-active;
            color: colors.$card-color-btn-active;
        }
    }
}