@use "../colors.scss";

.card-container {
    background-color: colors.$card-background;
    border-radius: 10px;
    border: 1px colors.$card-border solid;
    box-shadow: rgba(0,0,0,0.2) 3px 3px 5px;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-grow: 1;
    justify-content: space-between;
    margin: 6px;
    min-width: 300px;
    padding: 8px 9px 8px 12px;
    
    a, p, button {all: unset}
}


// CARD DESCRIPTION STYLE
.container-description {
    color: colors.$card-text-first;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 8px;
    text-transform: uppercase;
    
    .text-brand-card {
        font-family: Montserrat;
        font-size: 2rem;
        font-weight: 700;
    }
    .text-flavor-card {
        font-size: 1.3rem;
        margin-bottom: 4px;
    }
    .text-category-card {
        color: colors.$card-text-secondary;
    }
    .text-location-card {
        color: colors.$card-text-secondary;
        font-size: 0.9rem;
        font-style: italic;
        font-weight: 300;
    }
    
    .container-button-and-category-location {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .container-category-location {
        display: flex;
        flex-direction: column;
    }
    
    .container-button-edit-delete {
        align-self:flex-end;
        display: flex;
        
        a {
            aspect-ratio: 1;
            background-color: colors.$card-background-btn; 
            border-radius: 5px;
            border: 1px colors.$card-border-btn solid;
            color: colors.$card-color-btn;
            cursor: pointer;
            display: flex;
            height: 1.6rem;
            margin-left: 6px;
            transition: background-color 0.3s, color 0.3s;
            
            i {margin: auto;}
        }
        a:hover {
            background-color: colors.$card-background-btn-hover;
            color: colors.$card-color-btn-hover;
        }
        a:active {
            background-color: colors.$card-background-btn-active;
            color: colors.$card-color-btn-active;
        }
    }
    
    
}


// CARD AMOUNT STYLE
.container-button-amount {
    background-color: colors.$card-background-btn-amount;
    border-radius: 7px;
    box-shadow: rgba(0,0,0,0.15) 1px 1px 3px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 2.7rem;
    
    i {
        color: colors.$card-color-btn-arrow-amount;
        cursor: pointer;
        margin: auto;
        text-align: center;
        transition: color 0.3s;
        width: 100%;
    }

    p {
        color: colors.$card-color-btn-amount;
        font-size: 2rem;
        font-weight: 400;
        margin: -14px auto; 
    }

    i:hover {
        color: colors.$card-color-btn-arrow-hover;
    }
    i:active {
        color: colors.$card-color-btn-arrow-active;
    }
}