@use "../colors";

@keyframes animation-rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }   
}

#loading-screen {
    display: flex;
    height: 100%;
}

#container-loading {
    display: flex;
    flex-direction: column;
    margin: auto;

    .spinner {
        animation: rotate 2s linear infinite;
        margin: auto;
        width: 3em;
        
        .path {
          animation: dash 1.5s ease-in-out infinite;
          stroke-linecap: round;
          stroke: colors.$loading-spinner;
        }
    }

    .text-loading {
        all: unset;
        color: colors.$loading-text;
        font-size: 1.2em;
        margin-top: 0.6em;
        text-align: center;
    }

}

  
@keyframes rotate {
100% { transform: rotate(360deg) }
}
  
@keyframes dash {
0% { stroke-dasharray: 1, 150 ; stroke-dashoffset: 0 }
50% { stroke-dasharray: 90, 150 ; stroke-dashoffset: -35 }
100% { stroke-dasharray: 90, 150 ;stroke-dashoffset: -124 }
}