// S C R E E N   L O A D I N G
    $loading-spinner:   rgb(102, 102, 102);
    $loading-text:      rgb(102, 102, 102);


// S I D E   B A R
    $sidebar-toggle-btn-color:  rgb(0, 0, 0);
    $sidebar-toggle-background: rgba(255, 255, 255, 0.623);
    // hover
    $sidebar-toggle-btn-color-hover:  black;
    $sidebar-toggle-background-hover: rgba(194, 194, 194, 0.61);
    // active
    $sidebar-toggle-btn-color-active:  black;
    $sidebar-toggle-background-active: rgba(71, 71, 71, 0.623);